<div *ngIf="(loginService.showLogin$ | async).value else loggedIn">
    <app-login></app-login>
</div>
<ng-template #loggedIn>
    <mat-toolbar color="primary">
        <img src="assets/logo.png">
        <span class="title">{{ this.pageService.pageTitle$ | async }}</span>

        <span class="fill-space"></span>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item routerLink="/page/Home">Home</button>
            <button mat-menu-item routerLink="/index">Index</button>
            <button mat-menu-item routerLink="/search">Search</button>
        </mat-menu>
        <button mat-raised-button [matMenuTriggerFor]="appMenu" id="actions">
            Menu
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</ng-template>
